.ekko-lightbox-nav-overlay a {
    color: goldenrod;
}
.gallery-title {
    text-align: center;
	font-weight: 500;
	margin-top: 1em;
}

.mt-3 {
    margin-top: 30px;
}

.bor-mod-1 > div:nth-of-type(1) {
    border-bottom: 1px solid black; border-right: 1px solid black;
}

.bor-mod-1 > div:nth-of-type(2) {
    border-bottom: 1px solid black; border-right: 1px solid black;
}

.bor-mod-1 > div:nth-of-type(3) {
    border-bottom: 1px solid black;
}

.bor-mod-1 > div:nth-of-type(4) {
    border-right: 1px solid black;
}

.bor-mod-1 > div:nth-of-type(5) {
    border-right: 1px solid black;
}

@media (max-width: 1200px) {
    .bor-mod-1 > div:nth-of-type(1),
    .bor-mod-1 > div:nth-of-type(2),
    .bor-mod-1 > div:nth-of-type(3),
    .bor-mod-1 > div:nth-of-type(4) {
        border-bottom: 1px solid black;
    }

    .bor-mod-1 > div:nth-of-type(2),
    .bor-mod-1 > div:nth-of-type(4),
    .bor-mod-1 > div:nth-of-type(6) {
        border-right: 0 !important;
    }

    .bor-mod-1 > div:nth-of-type(3) {
        border-right: 1px solid black;
    }
}

@media (max-width: 767px) {
    .bor-mod-1 > div {
        border-right: 0 !important;
    }

    .bor-mod-1 > div:nth-of-type(5),
    .bor-mod-1 > div:nth-of-type(6) {
        border-bottom: 1px solid black;
    }
}
